name: test output workflow

on:   
  release:
    types: [published]
  workflow_dispatch:

jobs:
  outputtest:
    if: ${{ github.event.release.target_commitish == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4    
      - id: github-output
        name: Execute DevContainer commands
        uses: devcontainers/ci@v0.3.1900000349
        with: 
          configFile: ./.devcontainer/devcontainer.json
          runCmd: |
            echo "foo=bar" >> $GITHUB_OUTPUT

      - name: get output
        run: |
          set -e
          echo "Test output.."
          echo "${{ steps.github-output.outputs.foo }}"
          echo "Value printed now.."
      
